<!DOCTYPE html>
<html>
<head>
  <title>Skriva</title>
  <%= stylesheet_link_tag    "skriva/application", media: "all" %>
  <%= javascript_include_tag "skriva/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
